@import "variables/colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 32;
  padding: 24px;
  line-height: 1.5;
  color: $white;
  background-color: $black;

  &__icon {
    font-size: 24px;

    .profile {
      padding: 0 16px;
    }
  }
}
