<div class="todo-app">
  <h1 class="todo-title">Todo list</h1>
  <div class="search-todo">
    <input
      class="search-todo__input"
      placeholder="Search"
      name="search-todo"
      [(ngModel)]="filter.search"
    />
    <button class="search-todo__btn" (click)="search(filter.search)">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <ul class="todo-list">
    <li
      class="todo"
      [class.completed]="todo.done === true"
      *ngFor="
        let todo of todos$
          | async
          | todolist: filter.search:filter.time || 'all'
      "
    >
      <div class="todo__done">
        <a href="#" (click)="complete(todo.id)"><i class="fa fa-check"></i></a>
      </div>
      <div>
        <div class="todo__title">{{ todo.title }}</div>
        <div class="todo__description">
          {{ todo.description }}
        </div>
      </div>
      <div class="todo__remove">
        <a href="#" (click)="delete(todo.id)"><i class="fa fa-times"></i></a>
      </div>
    </li>
  </ul>
  <div class="add-todo">
    <input
      class="add-todo__input"
      name="add"
      [(ngModel)]="todo"
      placeholder="ex. Make a dentist appointment"
    />
    <button class="add-todo__btn" (click)="add(todo)">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="filters">
    <div
      class="filter all"
      [class.selected]="filter.time === 'all'"
      (click)="filterByTime('all')"
    >
      All
    </div>
    <div
      class="filter month"
      [class.selected]="filter.time === 'month'"
      (click)="filterByTime('month')"
    >
      Month
    </div>
    <div
      class="filter week"
      [class.selected]="filter.time === 'week'"
      (click)="filterByTime('week')"
    >
      Week
    </div>
  </div>
</div>
