<form class="container login" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="login-title">Login</h1>
  <input
    type="text"
    formControlName="username"
    class="username"
    placeholder="Username"
    autocomplete="off"
  />
  <input
    type="password"
    formControlName="password"
    class="password"
    placeholder="Password"
    autocomplete="off"
  />
  <button type="submit" class="login-button">Login</button>
  <a [routerLink]="['/sign-up']" class="register-link"
    >You are not registered?</a
  >
</form>
