.alert {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  text-align: center;
}

.alert-success {
  background: green;
}

.alert-error {
  background: red;
}
