<form class="container sign-up" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="sign-up-title">Sign-up</h1>
  <input
    type="text"
    formControlName="firstname"
    class="firstname"
    placeholder="First name"
    autocomplete="off"
  />
  <input
    type="text"
    formControlName="lastname"
    class="lastname"
    placeholder="Last name"
    autocomplete="off"
  />
  <input
    type="text"
    formControlName="username"
    class="username"
    placeholder="Username"
    autocomplete="off"
  />
  <input
    type="password"
    formControlName="password"
    class="password"
    placeholder="Password"
    autocomplete="off"
  />
  <button type="submit" class="sign-up-button">Sign-up</button>
</form>
