<form class="container todo-item" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>
    {{ form.get("id")?.value ? "Update todo" : "Create todo" }}
  </h1>
  <input
    type="text"
    formControlName="title"
    class="title"
    placeholder="Title"
    autocomplete="off"
  />
  <textarea
    rows="5"
    cols="45"
    name="text"
    formControlName="description"
    class="description"
    placeholder="Description"
  ></textarea>
  <input
    type="datetime-local"
    formControlName="dueDate"
    class="dueDate"
    placeholder="Due Date"
    [value]="form.get('dueDate').value"
    autocomplete="off"
  />
  <input
    type="file"
    formControlName="photo"
    class="photo"
    placeholder="Photo"
    autocomplete="off"
  />
  <button type="submit" class="todo-item-button">
    {{ form.get("id")?.value ? "Update" : "Create" }}
  </button>
</form>
