<form class="container profile" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="profile-title">Profile</h1>
  <img
    *ngIf="form.get('photo')?.value"
    src="{{ form.get('photo')?.value }}"
    class="photo"
    alt=""
  />
  <div *ngIf="!form.get('photo')?.value" class="no-photo">No photo</div>
  <input
    type="text"
    formControlName="firstname"
    class="firstname"
    placeholder="First name"
    autocomplete="off"
  />
  <input
    type="text"
    formControlName="lastname"
    class="lastname"
    placeholder="Last name"
    autocomplete="off"
  />
  <input
    type="text"
    formControlName="username"
    class="username"
    placeholder="Username"
    autocomplete="off"
  />
  <input
    type="password"
    formControlName="password"
    class="password"
    placeholder="Password"
    autocomplete="off"
  />
  <input type="button" (click)="takePhoto()" value="Take a photo" />
  <button type="submit" class="profile-button">Update</button>
</form>
